body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.users-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.actions a, .actions button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.actions a {
    background-color: #007bff;
    color: white;
    text-decoration: none;
}

.actions a:hover {
    background-color: #0056b3;
}

.actions button {
    background-color: #dc3545;
    color: white;
}

.actions button:hover {
    background-color: #c82333;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
}
.pagination-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.pagination-info span {
    margin-right: 10px;
}

.pagination-info #total-users {
    font-weight: bold;
}

.pagination-info #page-info {
    font-style: italic;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #e53935;
}

@media (max-width: 480px) {
    .users-container {
        width: 90%;
        padding: 15px;
    }

    table, th, td {
        font-size: 12px;
    }

    .pagination button {
        font-size: 14px;
    }
}